<div class="list-group-item d-flex justify-content-between align-items-start">
  <div class="ms-2 me-auto">
    <div class="fw-bold"><%= review.user.name %></div>
    <%= review.comment %>
  </div>
    <span><%= review.rating %></span>
</div>