<div class="card mb-3">
  <div class="card-header d-flex justify-content-between">
    <h5><%= review.user.name %></h5>
    <span><%= review.rating %></span>
  </div>
  <div class="card-body">
    <p class="card-text"><%= review.comment %></p>
  </div>
</div>