<h2 class="mb-5">Flats</h2>

<div class="row mb-3">
  <% @flats.each do |flat| %>
    <%= render flat, flat: flat %>
  <% end %>
</div>

<%= link_to "Add new flat", new_flat_path, class: "btn btn-primary" %>