<h1>New review</h1>
<%= simple_form_for [@restaurant, @review] do |f| %>
  <div class="form-inputs d-flex flex-column align-items-start">
    <%= f.input :content %>
    <%= f.input :rating, as: :integer %>
    <%= f.submit "Submit review", class: "btn btn-primary" %>
  </div>
<% end %>