<h2><%= @list.name %></h2>
<ul>
  <% @list.bookmarks.each do |bookmark| %>
    <li>
      <%= bookmark.movie.title %>
      <%= bookmark.comment %>
    </li>
  <% end %>
</ul>
<%= link_to "Add movie", new_list_bookmark_path(@list) %>