<h1>Answer</h1>

<div>
  <h2>You question is:</h2>
  <p><%= @question %></p>
</div>

<div>
  <h2>Stupid answer is:</h2>
  <p><%= @answer %></p>
</div>

<%= link_to "Ask one more question", ask_path %>