<div class="question__wrapper">
  <h1>Enter your question</h1>

  <form class="question__form" action="answer" method="get">
    <input type="text" name="question" placeholder="Enter your question">
    <button type="submit">Ask!</button>
  </form>
</div>