<p style="color: green"><%= notice %></p>

<h1 class="text-center">Restaurants</h1>

<ul class="list-group">
  <% @restaurants.each do |restaurant| %>
    <%= render restaurant %>
    <div class="mb-5">
      <%= link_to "Show this restaurant", restaurant, class: "btn btn-secondary" %>
    </div>
  <% end %>
</ul>

<%= link_to "New restaurant", new_restaurant_path, class: "btn btn-primary" %>
