<footer>
  <div class="footer__wrapper">
    <div class="logo">
      <h1><%= link_to "IIIKarnov Academy", root_path %></h1>
    </div>
    <h2>There might be more information and a useful link here</h2>
  </div>
</footer>