<%= link_to "Back", articles_path, class: "btn btn-secondary" %>
<div class="d-flex flex-column gap-3 py-3">
  <h2 class="m-0"><%= @article.title %></h2>
  <%= render "form", article: @article %>
</div>