<%= link_to "New article", new_article_path, class: "btn btn-secondary" %>
<div class="d-flex flex-column gap-3 py-3">
  <h2>My article</h2>
  <ul class="list-group">
    <% @articles.each do |article| %>
      <li class="list-group-item w-25 d-flex justify-content-between align-items-center">
        <%= link_to article.title, article_path(article), class: "text-secondary text-decoration-none" %>
        <%= link_to "Edit", edit_article_path(article), class: "btn btn-primary" %>
      </li>
    <% end %>
  </ul>
</div>