header {
  background-color: #05003C;

  .header__wrapper {
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
      padding: 3rem;
      background-color: #FAD507;
    }
  
    .nav {
      margin-right: 3rem;
      display: flex;
      gap: 2rem;
      color: #fff;
  
      a {
        font-size: 1.5rem;
        color: #fff;
  
        &:hover {
          color: #FAD507;
        }
      }
    }
  }
}